include LICENSE README.md CONTRIBUTING.md
recursive-include pydobotlab *.py *.qss
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md
recursive-include scripts *.py
prune .github
prune .venv
prune build
prune dist
global-exclude __pycache__ *.py[cod]
include mkdocs.yml
prune site
global-exclude PyPI-Recovery-Codes-*.txt
prune .local
